{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <style>
        .content-center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .content-center-partial {
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }
    </style>
{% endblock css %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock navbar %}
{% block content %}
    <div class="container">
        <div class="row p-4 content-center-partial">
            <div class="card shadow-custom">
                <div class="card-body">
                    <h1 class="card-text text-center">Create Student Account</h1>
                    <hr>
                    <div class="my-1">{% include "components/alert.html" %}</div>
                    <div class="row">
                        <form action="{% url 'cadmin:create_student_account' %}" method="post">
                            {% csrf_token %}
                            {{ s_form }}
                            <input type="submit" class="btn  btn-success mt-2" value="create">
                            <a href="{% url 'cadmin:students_list' %}" class="btn btn-dark mx-1">back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock footer %}
{% block js %}

{% endblock %}