{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <style>
        .content-center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .content-center-partial {
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }
    </style>
{% endblock css %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock navbar %}
{% block content %}
    <div class="container">
        <div class="row p-4 content-center-partial">
            <div class="card shadow-custom">
                <div class="card-body">
                    <h5 class="text-uppercase text-center">Teachers List </h5>
                    <a href="{% url 'cadmin:create_teacher_account' %}"
                       class="ms-2">Add Teacher
                        Account</a>
                    <hr>
                    <div class="my-1">{% include "components/alert.html" %}</div>
                    <div class="row">
                        <div class="">
                            <input type="text" class="form-control" placeholder="Search" id="search_teacher">
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover " id="teachersTable">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="fw-bold">#</th>
                                        <th scope="col" class="fw-bold">Name</th>
                                        <th scope="col" class="fw-bold">Branch</th>
                                        <th scope="col" class="fw-bold">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for teacher in teachers %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ teacher.user }}</td>
                                            <td>{{ teacher.branch }}</td>
                                            <td><i class="fa-solid fa-trash-can" data-mdb-toggle="modal"
                                                   data-mdb-target="#delete-modal" id="deleteIcon"
                                                   data-id="{{ teacher.pk }}"></i></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">No teachers found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-space">
        <div class="modal top fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModal"
             aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
            <div class="modal-dialog modal-sm ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        are you sure you want to delete this record
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                        <a href="" id="deleteConfirmation" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock footer %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#search_teacher").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#teachersTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("[id='deleteIcon']").click(function () {
                let id = $(this).data("id");
                let url = "{% url 'cadmin:delete_teacher' 111 %}"
                let newUrl = url.replace('111', id)
                $("#deleteConfirmation").attr("href", newUrl)
            })
        });
    </script>
{% endblock %}